<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div>
            {{ message }}
        </div>

        <div>
            <button @click="kurang()">-</button>
            {{ count }}
            <button @click="tambah()">+</button>
        </div>

        <!-- VUE BINDING TEXT -->
        <div>
            random text
        </div>

        <div v-text="message2">
            random text
        </div>

        <div v-html="message3"></div>

        <!-- VUE CONDITIONAL -->
         <!-- dua kondisi -->
         <div v-if="tampil">
            {{ message }}
         </div>

         <div v-else>
            message tidak ditampilkan
         </div>

         <!-- tiga kondisi -->
         <div v-if="nilai > 8">
            grade = A
         </div>

         <div v-else-if="nilai <= 8 && nilai > 6">
            grade = B
         </div>

         <div v-else>
            grade = C
         </div>
        
         <!-- v-show -->
        <div v-show="stateLampu">
            lampu hidup
        </div>
        <button @click="toggleLampu">saklar</button>
        
        
    </div>

    <script type="module">
        // const { createApp } = Vue

        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        createApp({
            data(){
                return{
                    message: 'hello word',
                    count : 0,
                    message2: 'replace text',
                    message3: '<strong>ini tulisan bold<strong>',

                    tampil : false,
                    nilai : 4,

                    stateLampu : false
                }
            },
            methods:{
                tambah(){
                    this.count++
                },
                kurang(){
                    this.count--
                },

                toggleLampu(){
                    this.stateLampu = !this.stateLampu
                },
            }
        }).mount('#app')
    </script>
</body>
</html>